<!DOCTYPE html>

<html lang="en-US">
    <head>
        <title>Cloud Regions List</title>        
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <style>{% include 'index.css' %}</style>
    </head>

    <body>
        <div id="div-filter" class="modal is-hidden is-visuallyHidden">
            <div class="modal-content">
                <h2>Filter Columns</h2>

                <table id="table_filters">
                    <tr>
                        <td class="header">Cloud Providers</td>
                        <td class="header">Geo Regions</td>
                        <td class="header">Countries</td>
                    </tr>
                </table>

                <div id="modal_buttons">
                    <span class="button">Apply Filters</span>
                    <span id="cancel_button" class="button">Cancel</span>
                </div>
            </div>
        </div>

        <div id="myContainer">
        <h1>Cloud Regions List</h1>

            <table id="table_metadata">
                <tr>
                    <td class="metadata_header"><span class="text_header">List generated</span>:</td> 
                    <td>{{ cloud_providers['generation_timestamp'] }} 
                        <a href="https://www.timeanddate.com/time/aboututc.html">UTC</a></td>
                </tr>

                {% for dataSource in cloud_providers['data_sources'] %}
                <tr>
                    {% if loop.first %}
                        <td class="metadata_header" rowspan="{{ loop.length }}"><span class="text_header">Data sources</span>:</td>
                    {% endif %}
                    <td>{{ dataSource['description'] }}, updated {{ dataSource['updated_timestamp'] }}</td>
                </tr>
                {% endfor %}


            </table>

            <!--
            <table id="table_cloud_list_header">
                <tr>
                    <td><strong>Clouds</strong>:</td>
                    <td id="cloud_aws" class="td_cloud_provider">AWS</td>
                    <td id="cloud_azure" class="td_cloud_provider">Azure</td>
                    <td id="cloud_gcloud" class="td_cloud_provider">Google Cloud</td>
                </tr>
            </table>
            -->

            <div id="filter_button" class="button">Filter Columns</div>

            <table id="table_regions">
                <tr>
                    <td class="header">
                        <a class="region_header_link" href="{{page.column_link_cloudprovider}}">
                        Cloud Provider
                        </a>
                    </td>
                    <td class="header">Region Name</td>
                    <td class="header">
                        <a class="region_header_link" href="{{page.column_link_georegion}}">
                        Geo Region
                        </a>
                    </td> 
                    <td class="header">
                        <a class="region_header_link" href="{{page.column_link_country}}">
                        Country
                        </a>
                    </td> 
                    <td class="header">City</td>
                </tr>

            </table>
        </div>
    </body>

    <script defer>{% include 'index.js' %}</script>

</html>
