* {
    /*font-family: "Roboto", "Open Sans";*/
    font-family: 'Roboto', sans-serif;
}

body {
    /*margin-left: 0.5in;*/
}

h1 {
    margin-top: 0.5in;
    margin-left: 0.5in;
}

table {
    border-collapse: collapse;
}

table#table_cloud_list_header {
    margin-top: 0.25in;
    margin-left: 1.0in;
    border-collapse: separate;
    border-spacing: 0.15in;
}

table#table_cloud_list_header td {
    padding: 10px; 
}

table#table_cloud_list_header td.provider_selected {
    background-color: black;
    color: #fca421;
    font-weight: bold;
}

table#table_cloud_list_header td.provider_selected a {
    color: #fca421;
}

table#table_cloud_list_header a {
    color: black;
    text-decoration: none;
}

table#table_metadata {
    margin-left: 1.0in;
}

table#table_metadata td.metadata_header {
    text-align: right;
    padding-right: 0.1in;
    vertical-align: top;
}

span.text_header {
    font-weight: bold;
}

table#table_regions {
    margin-left: 1.0in;
    margin-top: 0.25in;
    border: 1px solid black;
    display: none;
}

table#table_regions td { 
    padding: 2px 25px 2px 25px;
    text-align: center;
    /*font-size: small;*/
}

table#table_regions td.header {
    background: #505050;
    color: white;
    font-weight: bold;
    font-size: medium;
    padding: 5px 25px 5px 25px;
    vertical-align: middle;
}

a.region_header_link {
    color: white;
    text-decoration: none;
}

table#table_regions tr:nth-child(2n+1) {
    background: #d0d0d0;
}

span.text_header {
    font-weight: bold;
}


td.td_cloud_provider:hover {
    cursor: pointer;
}

.button {
    color: #fca421;
    background-color: black;
    border-radius: 15px;
    padding: 5px 25px 5px 25px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    font-size: large;
    cursor: pointer;
}

#cancel_button {
    background-color: white;
    border: 1px solid black;
}

div#filter_button {
    margin-left: 1.0in;
    margin-top: 0.5in;
}

/* Taken from https://www.cssscript.com/simple-modal-window-with-background-blur-effect/ */

.modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.2s;
  overflow: auto;
  transition: all 0.2s linear;

  /*
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 25%;
  left: 50%;
  transform: translate( -50%, -50% );
  z-index: 9999;
  background-color: black;
  background-color: rgba( 0, 0, 0, 0.4 );
  transition: all 0.3s ease-in-out;
  overflow: auto;
  */

}

.modal-content {
  display: block;
  position: fixed;
  top: 1.0in;
  left: 1.5in;
  background-color: #fefefe;
  margin: auto;
  padding: 0.25in;
  border-radius: 15px;
  /*max-width: 300px; */
  /*min-width: 50%;*/
  /* max-width: 90%;  */
  /* height: 450px; */
}

.modalOpen { overflow: hidden; }

.is-hidden { display: none; }

.is-visuallyHidden { opacity: 0; }

.is-blurred {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

table#table_filters {
    /*margin-left: 0.25in;*/
    /*border: 1px solid black;*/
    border-collapse: separate;
    border-spacing: 50px 5px;
}

table#table_filters td.header {
    background: #505050;
    color: white;
    font-weight: bold;
    font-size: medium;
    vertical-align: middle;
    padding: 5px 25px 5px 25px;
}

table#table_filters td {
    padding: 2px 25px 2px 25px;
}

div#modal_buttons {
    padding-top: 0.5in;
    margin: auto;
}

div#myContainer {
    transition: all 0.2s linear;
} 

table#table_filters td {
    transition: all 0.2s ease-in-out;
}

table#table_filters td.filter_selected {
    background: black;
    color: #fca421;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
}
